<div class="container">
      <div class="login">
        <form action="/login" method="post">
          <h2>Login</h2>
          <input type="text" name="nome" placeholder="Nome" required>
          <input type="text" name="email" placeholder="Email" required>
         
          <input type="password" name="senha" placeholder="Senha" required>
          <input type="submit" value="Entrar" class="btn">

          <button class="btn-cad">
            <a href="/cadastrar">Cadastre-se</a>
          </button>
        </form>
      </div>
   </div>